<form (ngSubmit)="onSubmit()" class="container" #EmployeeRoomBookingForm="ngForm">

  <div class="row content-body">

    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12 section-header">
          <small>Create Room Form</small>
          <hr />
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <table style="width: 100%;">
            <tr>
              <td>
                <label class="lableMargin">Room Type</label>
                <select class="form-control" id="sel2">
                    <option>Single</option>
                    <option>Double</option>
                    <option>Queen</option>
                    <option>King</option>
                  </select>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-md-4">
          <table style="width: 100%;">
            <tr>
              <td>
                <label class="lableMargin">Room No</label>
                <input class="form-control input-sm   required" type="text" id="UserFName" [(ngModel)]="data.RoomFName"
                  name="UserFName">
              </td>
            </tr>
          </table>
          <br>
        </div>

      </div>
    </div>

    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <table style="width: 100%;">
            <tr>
              <td>
                <label class="lableMargin">Start Date</label>
                <input class="form-control input-sm  required" type="date" id="UserNIC" [(ngModel)]="data.UserNIC"
                  name="UserNIC">
              </td>
            </tr>
          </table>
        </div>
        <div class="col-md-4">
          <table style="width: 100%;">
            <tr>
              <td>
                <label class="lableMargin">End Date</label>
                <input class="form-control input-sm  required" type="date" id="UserEmail" [(ngModel)]="data.UserEmail"
                  name="UserEmail">
              </td>
            </tr>
          </table>
          <br>
        </div>

      </div>
    </div>

    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <table style="width: 100%;">
            <tr>
              <td>
                <label class="lableMargin">Special Note</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

  </div>

  <div class="row actionButtonFix  mt-3">
    <div class="col-md-3 action-button-container left">
      <button type="button" class="btn-small btn btn-xs btn padding-xl" id="clearRBOMItem" (click)="onClear()">Clear</button>
    </div>
    <div class="col-md-3 action-button-container text-right">
      <button type="button" class="btn-small btn btn-xs btn-danger padding-xl" id="deleteRBOMItem">Delete</button>
    </div>
    <div class="col-md-3 action-button-container text-right">
      <button type="button" class="btn-small btn btn-xs btn-warning padding-xl" id="updateRBOMItem">Update</button>
    </div>
    <div class="col-md-3 action-button-container text-right">
      <button type="submit" class="btn-small btn btn-xs btn-primary padding-xl" id="saveRBOMItem">Submit</button>
    </div>

  </div>

</form>
