
.mat-wrapper{
  width: auto;
  height: auto;
  background-color: #309ae0;
}

/*.row{*/
/*width: auto;*/
/*height: auto;*/
/*background-color: #76b2da;*/
/*}*/

.mat-wrapper img{
 width: 80px;
 height: auto;
 border-radius: auto;
 display: block;
 margin: auto;
}

.example-container {
  /*width: 1350px;*/
  height: 800px;
  margin: 0px;
  background-color: #f0f5f5;
}

.example-container mat-nav-list{
  /*width: 210px;*/
  height: auto;
  margin: 10px;
  
}

.icon001 {
  background: url('../../../assets/admin/create-room.png');
  height: 40px;
  width: 40px;
  display: block;
  margin-right: 15px;
  background-size: cover;
}

.icon002 {
background: url('../../../assets/admin/create-user.png');
height: 40px;
width: 40px;
display: block;
margin-right: 15px;
background-size: cover;
}