

<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <strong>Room Details</strong>
    </div>
    <div class="card-body">

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="room_type">Room Type</label>
          <div class="col-md-9">
            <select id="room_type" name="room_type" class="form-control">
                <option value="">Select a room</option>
                <option value="Single">Single</option>
                <option value="Double">Double</option>
                <option value="Queen">Queen</option>
                <option value="King">King</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label">Description</label>
          <div class="col-md-9">
            <label>Our single rooms have one single size bed and are slightly smaller than our double rooms. If you need to
              make room for a second guest we can easily add a rollaway bed. Sizes vary between 15 and 20 sq m. Amenities
              include</label>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label" >Price(Per Day):</label>
          <div class="col-md-9">
            <label>1000$ </label>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" >Availability</label>
          <div class="col-md-9">
            <label>5</label>
          </div>
        </div>

    </div>

  </div>
</div>
