<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <strong>Room Details</strong>
    </div>
    <div class="card-body">

      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="room_type">Room Type</label>
        <div class="col-md-9">
          <select id="room_type" [(ngModel)]="selectedNumber" name="room_type" class="form-control">
            <option value="">Select a room</option>
            <option value="1">Single</option>
            <option value="2">Double</option>
            <option value="3">Queen</option>
            <option value="4">King</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-3 col-form-label">Description</label>
        <div class="col-md-9">
            <ng-container [ngSwitch]="selectedNumber">
                <div *ngSwitchCase="1">A single room is for one person and contains a single bed, and will usually be quite small (but that's the norm for European hotel rooms anyway). A double room is for two people and may contain a double bed or two singles.</div>
                <div *ngSwitchCase="2">a double room will generally be 1 bed for two people, the bed will either be a Double, Queen or King size bed, if you are traveling with friends and want to share a room you need to book a twin room which will have to single beds in.</div>
                <div *ngSwitchCase="3"> larger than a double bed, but smaller than king-size, usually 60 inches (152 cm) wide and 80 inches (203 cm) long. pertaining to or made for a queen-size bed: queen-size blankets.</div>
                <div *ngSwitchCase="4">A bedroom that is 14 feet by 19 feet can comfortably hold a King-size Bed, two nightstands on either side of the bed, a love seat, ottoman, TV stand and a dresser. Another bedroom that is smaller at 12 feet by 12 feet can hold a King-sized bed with two nightstands and a dresser.</div>
            </ng-container>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-3 col-form-label">Price(Per Day) Rs:</label>
        <div class="col-md-9">
            <ng-container [ngSwitch]="selectedNumber">
                <div *ngSwitchCase="1">5000 - 10000</div>
                <div *ngSwitchCase="2">10000 - 12000</div>
                <div *ngSwitchCase="3">15000 - 20000</div>
                <div *ngSwitchCase="4">25000 - 30000</div>
            </ng-container>
        </div>
      </div>

    </div>

  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">

      <div class="card-body">
        <div class="row">
          <table class="table table-responsive-sm table-hover table-outline mb-0">
            <thead class="thead-light">
              <tr>
                <th class="text-center">Room No</th>
                <th class="text-center">Room Type</th>
                <th class="text-center">Room Price</th>
                <th class="text-center">Room Discription</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let room of rooms_data">
                <td class="text-center">
                  {{room.roomNo}}
                </td>
                <td class="text-center">
                  {{room.roomType}}
                </td>
                <td class="text-center">
                  {{room.roomPrice}}
                </td>
                <td class="text-center">
                  {{room.roomDiscription}}
                </td>

              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>