<form (ngSubmit)="onSubmit()" class="container" #EmployeeApplyLeaveForm="ngForm">

  <div class="row content-body">

    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12 section-header">
          <small>Create User Form</small>
          <hr />
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <table style="width: 100%;">
            <tr>
              <td>
                <label class="lableMargin">Employee ID</label>
                <input class="form-control input-sm   required" type="text" id="UserId" [(ngModel)]="data.UserId" name="UserId">
              </td>
            </tr>
          </table>
        </div>
        <div class="col-md-4">
          <table style="width: 100%;">
            <tr>
              <td>
                <label class="lableMargin">Type</label>
                <select class="form-control" id="sel1">
                  <option>Half Day</option>
                  <option>Full Day</option>
                </select>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-md-4">
          <table style="width: 100%;">
            <tr>
              <td>
                <label class="lableMargin">Type</label>
                <select class="form-control" id="sel2">
                  <option>Annual Leave</option>
                  <option>Casual Leave</option>
                  <option>Sick Leave</option>
                  <option>Maternity Leave</option>
                  <option>Paternity Leave</option>
                  <option>No Pay</option>

                </select>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <br>
      <br>
    </div>

    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <table style="width: 100%;">
            <tr>
              <td>
                <label class="lableMargin">Start Date</label>
                <input class="form-control input-sm   required" type="date" id="UserNIC" [(ngModel)]="data.UserNIC"
                  name="UserNIC">
              </td>
            </tr>
          </table>
        </div>
        <div class="col-md-4">
          <table style="width: 100%;">
            <tr>
              <td>
                <label class="lableMargin">End Date</label>
                <input class="form-control input-sm   required" type="date" id="UserEmail" [(ngModel)]="data.UserEmail"
                  name="UserEmail">
              </td>
            </tr>
          </table>
        </div>
      </div>
      <br>
      <br>
    </div>
  </div>


  <div class="row actionButtonFix  mt-3">
    <div class="col-md-6">
      <button type="button" class="btn-small btn btn-xs btn-info padding-xl" id="clearRBOMItem" (click)="onClear()">Clear</button>
    </div>
    <div class="col-md-6 col-md-offset-8 action-button-container text-right">
      <button type="submit" class="btn-small btn btn-xs btn-primary padding-xl" id="saveRBOMItem">Submit</button>
    </div>
  </div>

</form>
