/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";

:root {
    color-primary:#488aff;
    color-secondary: #32db64;
    color-danger: #f53d3d;
    color-light: #f4f4f4;
    color-dark:  #222;

    color-blue: #0085c3;
    color-main-white: #FFFFFF;
    color-spruce: #C1C923;
    color-black: #262626;
    color-brown: #B06804;
    color-main-font-color: #262626;
    color-light-gray: #E9E9E9;
    color-filter-gray: #e0e0e0;
    color-background-orange: #FFE0B2;
    color-green: #54AA09;
    color-red: #C50808;
    color-backgrd-color: #EDEDED;
    color-orange: #F99D1C;
    color-dark-orange: #DD8305;
    color-gray: #636363;
    color-pink: #E1435B;
    color-yellow: #F9D316;
    color-green-health: #5cb85c;
    color-red-health: #d9534f;
    color-info-health: #5bc0de;
};



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
