<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <strong>Create Room</strong>
    </div>
    <div class="card-body">
      <form [formGroup]="createRoom" method="post" enctype="multipart/form-data" class="form-horizontal"
        (ngSubmit)="onClickSubmit(createRoom.value)">

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="roomNo">Room No</label>
          <div class="col-md-9">
            <input type="number" id="roomNo" name="roomNo" class="form-control" formControlName="roomNo"
              placeholder="Room No" [ngClass]="{ 'is-invalid': submitted && f.roomNo.errors }">
            <div *ngIf="submitted && f.roomNo.errors" class="invalid-feedback">
              <div *ngIf="f.roomNo.errors.required">Room NO is required</div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="roomType">Room Type</label>
          <div class="col-md-9">
            <select id="roomType" name="roomType" class="form-control" formControlName="roomType">
              <option value="">Select a room</option>
              <option value="Single">Single</option>
              <option value="Double">Double</option>
              <option value="Queen">Queen</option>
              <option value="King">King</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="roomDiscription">Description</label>
          <div class="col-md-9">
            <textarea id="roomDiscription" name="roomDiscription" rows="9" class="form-control" placeholder="Description.."
              formControlName="roomDiscription"></textarea>
          </div>
        </div>
        <!-- <div class="form-group row">
          <label class="col-md-3 col-form-label" for="roomImage">Image of the Room</label>
          <div class="col-md-9">
            <input type="file" id="roomImage" name="roomImage" multiple formControlName="roomImage">
          </div>
        </div> -->
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="roomPrice">Price(Per Day$):</label>
          <div class="col-md-9">
            <input type="number" id="roomPrice" name="roomPrice" class="form-control" placeholder="Price"
              formControlName="roomPrice" [ngClass]="{ 'is-invalid': submitted && f.roomPrice.errors }">
            <div *ngIf="submitted && f.roomPrice.errors" class="invalid-feedback">
              <div *ngIf="f.roomPrice.errors.required">Price is required</div>
            </div>
          </div>
        </div>

        <div class="card-footer">
          <!--[disabled] = "!createRoom.valid"-->
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">

      <div class="card-body">
        <div class="row">
          <table class="table table-responsive-sm table-hover table-outline mb-0">
            <thead class="thead-light">
              <tr>
                <th class="text-center">Room No</th>
                <th class="text-center">Room Type</th>
                <th class="text-center">Room Price</th>
                <th class="text-center">Room Discription</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let room of rooms_data">
                <td class="text-center">
                  {{room.roomNo}}
                </td>
                <td class="text-center">
                  {{room.roomType}}
                </td>
                <td class="text-center">
                  {{room.roomPrice}}
                </td>
                <td class="text-center">
                  {{room.roomDiscription}}
                </td>

              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>